In [59]:
#importing all relevant frameworks
import pandas as pd
import numpy as np

In [93]:
#load dataset
insurance = pd.read_csv('insurance.csv')
insurance.isnull().sum()

age         66
sex         66
bmi         66
children    66
smoker      66
region      66
charges     54
dtype: int64

In [95]:
#Task 1: Clean up the data

#Changing charges from object to float
insurance['charges'] = insurance['charges'].astype(str)
insurance['charges'] = insurance['charges'].str.replace(r'[^0-9.]', '', regex=True) #removing any non-numeric including a dot
insurance['charges'] = insurance['charges'].replace('', np.nan, regex=True)
insurance['charges'] = insurance['charges'].astype(float) #now i'm converting the new from string/object to float

#standarise region 
insurance['region'] = insurance['region'].str.strip().str.lower()

#removing all null values
insurance = insurance.dropna()

#no negative values in age column
insurance['age'] = np.abs(insurance['age'])
insurance['children'] = np.abs(insurance['children'])


#standarise sex:
Female = 'female'
Male = 'male'
sex_map = {'F' : Female, 'woman' : Female, 'M' : Male, 'man' : Male}
insurance['sex'] = insurance['sex'].replace(sex_map)


#Change smoker column to boolean
insurance['smoker'] = insurance['smoker'].map({'yes' : True, 'no' : False})

In [98]:
insurance.head(10)

    age     sex     bmi  children  smoker     region      charges
0  19.0  female  27.900       0.0    True  southwest  16884.92400
1  18.0    male  33.770       1.0   False  southeast   1725.55230
2  28.0    male  33.000       3.0   False  southeast   4449.46200
3  33.0    male  22.705       0.0   False  northwest  21984.47061
4  32.0    male  28.880       0.0   False  northwest   3866.85520
5  31.0  female  25.740       0.0   False  southeast   3756.62160
6  46.0  female  33.440       1.0   False  southeast   8240.58960
7  37.0  female  27.740       3.0   False  northwest   7281.50560
8  37.0    male  29.830       2.0   False  northeast   6406.41070
9  60.0  female  25.840       0.0   False  northwest  28923.13692