In [8]:
import pandas as pd
import numpy as np

In [9]:
#load dataset
insurance = pd.read_csv('insurance.csv')
insurance.head(10)

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552
5 -31.0   woman  25.740       0.0     no  southeast    $3756.6216
6  46.0   woman  33.440       1.0     no  southeast     8240.5896
7  37.0  female  27.740       3.0     no  Northwest     7281.5056
8  37.0    male  29.830       2.0     no  Northeast    $6406.4107
9  60.0  female  25.840       0.0     no  northwest   28923.13692

In [10]:
#Task 1: Clean up the data
insurance.describe()
insurance.info()
insurance.isnull().sum()

#Changing charges from object to float
insurance['charges'] = insurance['charges'].str.replace(r'[^0-9.]', '', regex=True) #removing any non-numeric including a dot
insurance['charges'] = insurance['charges'].replace('', np.nan)  # Handle empty strings
insurance['charges'] = insurance['charges'].astype(float) #now i'm converting the new from string/object to float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1272 non-null   float64
 1   sex       1272 non-null   object
 2   bmi       1272 non-null   float64
 3   children  1272 non-null   float64
 4   smoker    1272 non-null   object
 5   region    1272 non-null   object
 6   charges   1284 non-null   object
dtypes: float64(3), object(4)
memory usage: 73.3+ KB

In [14]:
insurance['charges'].dtype

dtype('float64')